.keywords{
    display: flex;
}

/* ========================================
   1. コンテナ・全体レイアウト
   ======================================== */
:global(.container) {
  max-width: 393px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 32px 16px;
  background-color: var(--color-bg-base);
  color: var(--color-text-main);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* ローディング */
.loadingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  /* 単語タブのテーブル高さと統一 thead 50px + tbody 630px*/
  flex: 1;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading p{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.75rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: 1px solid #e7e5e4;
  margin-bottom: 0.75rem;
  width: 100%;
}

/* ========================================
  ヘッダー
   ======================================== */
  .header{
    display: flex;
    justify-content: space-around;
  }

  .boxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
